<footer class="footer-container">
    <div class="optimal-width">
        <div class="socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.x.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest-p"></i></a>
            <a href="https://www;tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
</footer>